body {
  background-color: #DFDFDF;
  font-family: 'Helvetica', serif;
  font-size: 0.9em;
}

h1 {
  color: #4D4D4D;
  text-align: center;
}

a { color: #4D4D4D;
  text-decoration: none;
}

p::selection { background-color: #ffff99; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 3%;
}

.pinGrid {
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

.pin {
  color: #2C3E50;
  display: inline-block;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 6px -6px #ffff99;
  -moz-box-shadow: 0 6px 6px -6px #ffff99;
  box-shadow: 0 6px 6px -6px #ffff99;
  margin: 0 0 20px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  width: 100%;
  max-width: 100%;
}

.pin p {
  padding: 0 20px 0 20px;
  overflow: auto;
}
/*
.pin p::before,{
  content: "\“";
}

.pin p::after{
  content: "\”";
}
*/ 
.pin .author{
  display: block;
  border-top: 1px solid #F5F5F5;
  font-style: bold;
  padding: 10px 20px 10px 20px;
  color: gray; /* #09C */
  text-decoration: none;
}
.pin .author:hover{
  background-color: #4D4D4D; /* #09C */
  color: #FFF;
}
@media (min-width: 580px) {
  .pinGrid {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 870px) {
  .pinGrid {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1160px) {
  .pinGrid {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1450px) {
  .pinGrid {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }
}